.App {
  text-align: center;
}
.body{
  margin:0;
}

.plus-icon{
  padding: 10px;
}

.plus-icon:hover{
  background-color: rgba(129,182,239,0.95);
  cursor:pointer
}

.FoundPosts{
  margin-bottom: 100px;
}